[Unit]
Description=Flask app
After=network.target

[Service]
WorkingDirectory=/home/nyusipov/app/
ExecStart=/home/nyusipov/venv/bin/python run.py

[Install]
WantedBy=multi-user.target